*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Jua", sans-serif;
    background-color: #ffb6c8;
    color: #FF7782;
}

.arrow {
    position: absolute;
    width: 20%;
    height: auto;
    top: 3%;
    left: 5%;
    z-index: 5;
    transition: transform 0.2s linear;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

nav{
    position: absolute;
    top: 3%;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    gap: 2rem;
}

nav a {
    font-size: 2rem;
    color: #FB6F92;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.4rem 0.8rem;
    background-color: #FFB3C6;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #FFE5EC;
    background-color: #FB6F92;
}

#header-img {
    position: absolute;
    width: 20%;
    height: auto;
    top: 15%;
    left: 15%;
    transform: translate(-50% , -50%);
    z-index: 1;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 7rem;
    white-space: nowrap;
    font-weight: 400;
    color: #FFCCD8;
    text-align: center;
    text-shadow: 0 0 0.3rem #ff527d, 0 0 0.9rem #ff527d;
    z-index: 3;
}

