*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Jua", sans-serif;
    background-color: #ffb6c8;
    color: #FF7782;
}

.arrow {
    position: absolute;
    width: 15%;
    height: auto;
    top: 1%;
    left: 3%;
    z-index: 5;
    transition: transform 0.2s linear;
}

#bow-img {
    position: absolute;
    width: 15%;
    height: auto;
    top: 13.5%;
    left: 10%;
    transform: translate(-50% , -50%);
    z-index: 1;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

nav{
    position: absolute;
    top: 3%;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    gap: 2rem;
}

nav a {
    font-size: 2rem;
    color: #FB6F92;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.4rem 0.8rem;
    background-color: #FFB3C6;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #FFE5EC;
    background-color: #FB6F92;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 7rem;
    white-space: nowrap;
    font-weight: 400;
    color: #FFCCD8;
    text-align: center;
    text-shadow: 0 0 0.3rem #ff527d, 0 0 0.9rem #ff527d;
    z-index: 3;
}


#tagline {
    position: absolute;
    top: 57%;
    left: 49%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #FB6F92;
    text-align: center;
}
.cloud {
    position: absolute;
    width: 20%;
    height: auto;
}

#cloud2{
    top: 75%;
    right: 5%;
}

#cloud3{
    top: 55%;
    left: 10%;
}

#cloud4 {
    top: 25%;
    left: 55%;
}

#cloud5 {
    top: 15%;
    left: 25%;
}

#cloud6 {
    top: 1%;
    left: 80%;
}

.heart {
    position: absolute;
    width: 7%;
    height: auto;
}

.heart:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in;
}

#heart1 {
    top:55%;
    right: 5%;
}
#heart2 {
    top: 45%;
    left: 8%;
}

#heart3 {
    top: 35%;
    left: 47%;
}

#heart4 {
    top: 80%;
    left: 25%;
}

#heart5 {
    top: 20%;
    left: 70%;
}

#heart6 {
    top: 75%;
    left: 65%;
}

#heart7 {
    top: 5%;
    right: 70%;
}